/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.app-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.add-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

/* Estilos para la tabla de productos */
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th, .product-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.product-table th {
  background-color: #007bff;
  color: #fff;
}

.product-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table tr:hover {
  background-color: #ddd;
}

/* Estilos para los botones de editar y eliminar */
.product-table button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 5px 10px;
}

.product-table button:hover {
  background-color: #f4f4f4;
  border-radius: 5px;
}

/* Estilos para el modal de productos */
.product-modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-modal h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.product-modal label {
  display: block;
  margin-top: 10px;
}

.product-modal input, .product-modal select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.product-modal button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.product-modal button:hover {
  background-color: #0056b3;
}

/* Estilos para el modal de eliminación de productos */
.product-delete-modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-delete-modal h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.product-delete-modal p {
  margin-top: 10px;
}

.product-delete-modal button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.product-delete-modal button:hover {
  background-color: #0056b3;
}
